<ion-view title="Feed" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
      <a ng-href="{{item.link}}" class="list card feed-item" id="feed-card25" ng-repeat="item in items track by item._id">
            <div class=" item item-image">
                <img ng-src="{{item.image}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="feed-list-item-container5">
                <div class="title">{{item.title}}</div>
                <p class="feed-desc">
                  {{item.summary.length > 0 ? item.summary : item.description}}
                </p>
            </div>
            <ion-item class="meta">
              <div class="feed-name">{{item.feed}}</div>
              <div class="diff">{{item.diff}} ago</div>
            </ion-item>
        </a>
    </ion-content>
</ion-view>
