<ion-view title="List" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
      <a  class="card mag-item"  ng-repeat="item in items track by item._id">
        <div class="meta">
          <div class="feed-name">{{item.feed}}</div>
          <div class="diff">{{item.diff}} ago</div>
        </div>
            <div class="titles">
              <div class="title">{{item.title}}</div>
              <div class="desc">{{item.summary.length > 0 ? item.summary : item.description}}</div>
            </div>
            <div class="img-wrapper">
              <img ng-src="{{item.image}}">
            </div>
        </a>
    </ion-content>
</ion-view>
