<ion-view title="List" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="list-list4" class=" ">
            <ion-item class="item-thumbnail-left  " id="list-list-item16">
                <img src="img/1616_A04.jpg?1470397175">
                <h2>Ennead Architects Makes Progress on New University of Michigan Biological Sciences Building</h2>
                <p>www.archdaily.com</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>