.feed-item {
  border-radius: 0;
  display: block;
  text-decoration: none;


  .feed-logo {
    float: left;
    width: 40px;
  }
  .item {
    border-color: white;
    border-radius: 0 !important;


    img {
      border-radius: 0;
    }
  }

  .meta {
    float: left;
    margin-top: 0;
    padding-top: 0;

    .feed-name {
      float: left;
      color: $red;
      font-size: 14px;
      font-weight: 500;
    }

    .diff {
      float: left;
      font-size: 14px;
      color: $summary-color;
      margin-left: 10px;
    }
  }

  .title {
    color: $black;
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .feed-desc {
    font-size: 14px;
  }
}
